/* this is the solution for the vertical-alignment-with-line-height example */
.center {
    height: 150px;
    line-height: 150px;
    background: gray;
}


/* two solutions from the previous horizontal-case-example; just for the sake of using what have been learned in horizontal example, so the current example visually may look good*/
.container {
    width: 25vw;
    margin: auto;
    /* background: green; */
}

* {
    text-align: center;
}