/* To centre div, text & button horizontally, I style all three with:
margin:auto;
text-align:center; */

div {
    width: 200px;
    margin: 100px auto 0;
    /* same as:
        margin: 100px auto 0 auto;
    auto
        - means: take all available space & make a margin of it,
        - works only horizontally, */

    text-align: center;
    /* so this centres text in <p> 
        and the <button>
            as long as:
                button {
        display: inline-block;
} */
}

/* button {
    display: block;
} */