/* this is the solution for the vertical-alignment-by-padding example */
.center {
    padding: 50px 0;
    background: gray;
}


/* two solutions from the previous horizontal case example; just for the sake of using what have been learned in previous example so it may look good*/
.container {
    width: 12.5vw;
    margin: auto;
    /* background: green; */
}

* {
    text-align: center;
}